@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

body {
	font-family: 'Roboto Condensed';
	background-color: #e6e6e6;
}

.home-container {
	margin: 0 10px;
	height: 40em;
	.home-session {
		display: flex;
		flex-direction: column;
		margin: 1em 0;
		.home-footer {
			margin: 2em 2em 0 0;
			align-self: flex-end;
		}
	}
}

.and-button {
	margin: 2em 0;
}