@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");

select { 
	font-family: 'PT Sans Narrow';
}

.dropdown-menu {
	margin: 0.2rem;
	height: 2.3em;
	width: 100% auto;
	font-size: 16px;
	min-width: 150px;
	border: 0.5px solid #e0e0eb;
	border-radius: 4px;
}